@import url('@/styles/index');

.wrap {
  position: relative;
  //  border: 1px solid var(--white-color);
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;
  margin-top: 50px;
  background: var(--dark-color);

  @include mq-down(md) {
    margin-top: get_vw(50);
  }

  & ~ .wrap {
    margin-top: 100px;

    @include mq-down(md) {
      margin-top: get_vw(100);
    }
  }

  .inner {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: hidden;
    pointer-events: none;

    @include mq-down(md) {
      padding: get_vw(20);
    }

    &::before {
      position: absolute;
      inset: 0;
      z-index: 10;
      width: 20%;
      height: 400%;
      margin: auto;
      content: '';
      background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
      background-repeat: no-repeat;
      animation: rotateKey 10s linear infinite;
      animation-fill-mode: forwards;
    }

    &::after {
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 20;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      content: '';
      background: var(--dark-color);
      border-radius: 5px;
    }

    > * {
      position: relative;
      z-index: 50;
    }

    .imageFrame {
      box-sizing: border-box;
      width: 500px;
      height: 250px;
      margin: 0 auto;
      overflow: hidden;

      @include mq-down(md) {
        width: 100%;
        height: get_vw(250);
      }

      &::after {
        position: absolute;
        top: -100%;
        left: -50%;
        z-index: 0;
        width: 200%;
        height: 300%;
        content: '';
        background: linear-gradient(
          60deg,
          #f79533,
          #f37055,
          #ef4e7b,
          #a166ab,
          #5073b8,
          #1098ad,
          #07b39b,
          #6fba82
        );
        background-repeat: no-repeat;
        animation: rotateKey 10s linear infinite;
        animation-fill-mode: forwards;
      }

      img {
        position: relative;
        z-index: 10;
        box-sizing: border-box;
        padding: 10px;
        object-fit: cover;
        object-position: top;
      }
    }

    dt {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 600;

      @include mq-down(md) {
        margin-top: get_vw(20);
        font-size: get_vw(14);
      }
    }

    dd {
      margin-top: 5px;
      font-size: 14px;
      line-height: 1.6;

      @include mq-down(md) {
        margin-top: get_vw(5);
        font-size: get_vw(14);
      }
    }
  }

  h2 {
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    z-index: 20;
    width: fit-content;
    padding: 10px 40px;
    margin: auto;
    font-family: var(--font-pacifico);
    font-size: 20px;
    line-height: 1;
    background: var(--dark-color);
  }
}

@keyframes rotateKey {
  100% {
    transform: rotate(1turn);
  }
}
