@import url('@/styles/index');

.wrap {
  padding: 20px;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--white-color);
  transition: 0.5s;

  &:hover {
    box-shadow: 0 2px 5px var(--white-color);
  }

  @include mq-down(md) {
    padding: get_vw(20);
  }

  > a {
    display: flex;
    gap: 10px;
    width: 100%;
    color: var(--white-color);
    text-align: center;

    @include mq-down(md) {
      gap: get_vw(10);
    }
  }

  hgroup {
    h1,
    p {
      text-align: left;
    }

    h1 {
      display: flex;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.6;

      @include mq-down(md) {
        font-size: get_vw(17);
      }
    }

    p {
      display: -webkit-box;
      flex: 1;
      padding-top: 10px;
      overflow: hidden;
      font-size: 17px;
      line-height: 1.6;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      @include mq-down(md) {
        padding-top: get_vw(10);
        font-size: get_vw(14);
      }
    }

    .image {
      position: relative;
      width: 100%;
      height: 300px;
      margin-top: 10px;
      border-radius: 10px;

      @include mq-down(md) {
        width: 100%;
        height: get_vw(150);
        margin-top: get_vw(10);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  time {
    display: block;
    padding-top: 20px;
    font-size: 14px;
    text-align: right;

    @include mq-down(md) {
      padding-top: get_vw(20);
      font-size: get_vw(12);
    }
  }
}

.sns {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 10px;

  @include mq-down(md) {
    gap: get_vw(20);
    margin-top: get_vw(10);

    svg {
      width: get_vw(30);
      height: get_vw(30);
    }
  }
}
