@import '@/styles/index';

.wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
  color: var(--black-color);
  border: 1px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--white-color);

  @include mq-down(md) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: get_vw(20);
    margin-top: 0;
    background: var(--dark-color);
    border: none;
    border-top: 1px solid var(--white-color);
    border-radius: 0;
    transition: 0.5s;
    transform: translateY(get_vw(200));

    &.on {
      transform: translateY(0);
    }
  }

  input {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 14px;

    @include mq-down(md) {
      height: get_vw(30);
      padding: get_vw(5);
      font-size: get_vw(14);
    }
  }

  button {
    width: 140px;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    background: var(--white-color);
    border-radius: 20px;

    @include mq-down(md) {
      padding: get_vw(15) get_vw(10);
      margin-top: get_vw(20);
      font-size: get_vw(14);
    }
  }
}
