@import '@/styles/index';

.wrap {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 20px;

  @include mq-down(md) {
    gap: get_vw(20);
    margin-top: get_vw(20);

    svg {
      width: get_vw(30);
      height: get_vw(30);
    }
  }
}
