@import '@/styles/index';

.wrap {
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--white-color);
  transition: 0.5s;

  @include mq-down(md) {
    margin-bottom: get_vw(40);
  }

  h1 {
    font-size: 20px;
    line-height: 1.6;

    @include mq-down(md) {
      font-size: get_vw(20);
    }
  }

  time {
    display: block;
    margin-top: 10px;
    text-align: right;

    @include mq-down(md) {
      margin-top: get_vw(10);
    }
  }

  .imageWrap {
    position: relative;
    display: block;
    width: 100%;
    height: 350px;
    margin-top: 20px;

    img {
      object-fit: cover;
      object-position: center;
    }

    @include mq-down(md) {
      height: get_vw(200);
      margin-top: get_vw(20);
    }
  }

  article {
    padding-top: 10px;
    font-size: 17px;
    line-height: 1.6;

    @include mq-down(md) {
      padding-top: get_vw(10);
      font-size: get_vw(17);
    }
  }
}
