@import "@/styles/index";

.articles {
 width: 100%;

 > li {
  padding: 20px 12px;
  box-sizing: border-box;
  border-left: solid 1px var(--article-border-color);
  border-right: solid 1px var(--article-border-color);

  @include mq-down(md) {
   padding: get_vw(20) get_vw(16) get_vw(20) get_vw(12);
  }

  & ~ li {
   border-top: solid 1px var(--article-border-color);
  }

  &:last-of-type {
   border-bottom: solid 1px var(--article-border-color);
  }
 }
}
