@import "@/styles/index";

.articles {
 width: 100%;

 > li {
  padding-top: 40px;
  box-sizing: border-box;
  border-left: solid 1px var(--article-border-color);
  border-right: solid 1px var(--article-border-color);

  @include mq-down(md) {
   padding-top: get_vw(30);
  }

  & ~ li {
   border-top: solid 1px var(--article-border-color);
  }

  &:last-of-type {
   border-bottom: solid 1px var(--article-border-color);
  }
 }
}
