@import "@/styles/index";

.wrap {
 max-width: 1200px;
 padding: 0 20px;
 box-sizing: border-box;
 margin: 0 auto;

 @include mq-down(md) {
  padding: 0 get_vw(20);
 }

 .left {
  width: 60%;

  @include mq-down(md) {
   width: 100%;
  }
 }
}
