@import '@/styles/index';

:root {
  height: 100%;

  --black-color: #000;
  --white-color: #fff;
  --red-color: #f00;
  --dark-color: #121212;
  --light-gray-color: #d3d3d3;
  --dark-gray-color: #a9a9a9;

  body {
    width: 100%;
    min-height: 100%;
    padding-bottom: 60px;
    overflow-x: hidden;
    color: var(--white-color);
    background: var(--dark-color);

    @include mq-down(md) {
      padding-bottom: get_vw(60);
    }
  }
}
