:root {
  height: 100%;

  // 基本カラー
  --black-color: #000;
  --white-color: #fff;
  --red-color: #f00;
  --dark-color: #121212;

  body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    color: var(--white-color);
    background: var(--dark-color);
  }
}
