@import url('@/styles/index');

.wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 20px;
  padding-bottom: 100px;
  margin: 0 auto;

  @include mq-down(md) {
    padding: 0 get_vw(20);
    padding-bottom: get_vw(100);
  }
}
