@import '@/styles/index';

.wrap {
  box-sizing: border-box;
  display: flex;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;

  @include mq-down(md) {
    flex-direction: column;
    padding: 0 get_vw(20);
  }

  .left {
    width: 60%;
    padding-top: 40px;

    @include mq-down(md) {
      width: 100%;
      padding-top: get_vw(40);
    }
  }

  .right {
    box-sizing: border-box;
    width: 40%;
    padding: 40px 0 0 50px;

    @include mq-down(md) {
      width: 100%;
      padding: get_vw(40) 0 0;
    }
  }
}
