@import '@/styles/index';

.wrap {
  max-width: 600px;
  padding-bottom: 120px;
  margin: 60px auto 0;

  @include mq-down(md) {
    max-width: 90%;
    padding-bottom: get_vw(120);
    margin: get_vw(60) auto 0;
  }

  dl ~ dl {
    margin-top: 30px;

    @include mq-down(md) {
      margin-top: get_vw(30);
    }
  }

  dd {
    margin-top: 10px;

    @include mq-down(md) {
      margin-top: get_vw(10);
    }
  }

  .input {
    max-width: 70%;
  }

  .reCAPTCHAWrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @include mq-down(md) {
      margin-top: get_vw(40);
    }
  }
}
